/0_tmp
__pycache__/
*.py[cod]
firmware/base_controller/build/
build/
*.obj
*.elf
*.bin
*.hex
*.map
firmware/base_controller/micro_ros/libmicroros/
firmware/base_controller/micro_ros/library_generation/extra_packages/
/tools
firmware/base_controller/micro_ros/README.md
firmware/base_controller/test
software/ros_pkgs/mr_base/test